<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>
<beans default-autowire="byName" default-lazy-init="true">

	<!-- Restlet Component bean -->
	<bean name="component" id="component" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="application" />
	</bean>
	<bean name="application" id="application" class="org.restlet.Application">
		<property name="inboundRoot" ref="restRouter" />
	</bean>
	<!-- Restlet Router bean -->
	<bean id="restRouter" name="restRouter" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<entry key="/userinfo">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="UserInfoResource" />
					</bean>
				</entry>
				<entry key="/zone/{loginId}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="UserZone" />
					</bean>
				</entry>
				<entry key="/userzone"><!--  for the url of the client js code -->
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="UserZone" />
					</bean>
				</entry>
				<entry key="/fileinfo/{loginId}/{pageNum}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FileInfoResource" />
					</bean>
				</entry>
				<entry key="/uploadfile">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FileInfoResource" />
					</bean>
				</entry>
				<entry key="/filetype/{parentid}/{pagenum}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FileTypeResource" />
					</bean>
				</entry>
				<entry key="/childtype">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FileTypeResource" />
					</bean>
				</entry>
				<entry key="/filetypesele/{parentId}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FileTypeSelect" />
					</bean>
				</entry>
				<entry key="/download/{fileid}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="DownloadFileSource" />
					</bean>
				</entry>
				<entry key="/search/{pagenum}/{typeid}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="SearchResource" />
					</bean>
				</entry>
				<entry key="/file/property">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="FilePropertySource" />
					</bean>
				</entry>
				<entry key="/user/property/{pageNum}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="UserPropertySource" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<!-- beans referred by routers -->
	
	<!-- UserPropertySource -->
	<bean id="UserPropertySource" class="cn.edu.ycu.webadmin.remote.rest.resource.UserPropertySource">
	</bean>
	<!-- FilePropertySource -->
	<bean id="FilePropertySource" class="cn.edu.ycu.webadmin.remote.rest.resource.FilePropertySource">
	</bean>
	<!-- SearchResource -->
	<bean id="SearchResource" class="cn.edu.ycu.webadmin.remote.rest.resource.SearchResource">
	</bean>
	<!-- DownloadFileSource -->
	<bean id="DownloadFileSource" class="cn.edu.ycu.webadmin.remote.rest.resource.DownloadFileSource">
	</bean>
	<!-- FileTypeResource -->
	<bean id="FileTypeResource" class="cn.edu.ycu.webadmin.remote.rest.resource.FileTypeResource">
	</bean>
	<!-- FileTypeSelect -->
	<bean id="FileTypeSelect" class="cn.edu.ycu.webadmin.remote.rest.resource.FileTypeSelect">
	</bean>
	<!-- File resource -->
	<bean id="FileInfoResource" class="cn.edu.ycu.webadmin.remote.rest.resource.FileInfoResource">
	</bean>
	<!-- UserInfo resource -->
	<bean id="UserInfoResource" class="cn.edu.ycu.webadmin.remote.rest.resource.UserInfoResource">
	</bean>
	<!-- User Zone -->
	<bean id="UserZone" class="cn.edu.ycu.webadmin.remote.rest.resource.UserZoneResource">
	</bean>


</beans>